body{
	padding: 0;
	margin: 0;
	border: 0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	line-height: 20px;
	color: #000;
}

a:link{
	text-decoration:none;
	color: #000;
}
a:active{
	text-decoration:none;
	color: #006699;
}
a:hover{
	text-decoration:none;
	color: #000;
}
a:visited{
	text-decoration:none;
	color: #000;
}

h2{
	font-weight: bold;
	font-size: 18px;
	color: #006699;
}

p{
	margin: 0;
	padding: 0;
}

.preco-old-produto{
	color: #000;
	font-size: 11px;
}

.preco-produto{
	color: #cc0000;
	font-size: 16px;
	font-weight: bold;
}

.forma-pagamento-produto{
	color: #cc0000;
	font-size: 12px;
	font-weight: bold;
}

.forma-pagamento-produto span{
	color: #cc0000;
	font-weight: bold;
}

div#wrapper{
	width: 100%;
}

div#container{
	width: 900px;
	overflow-y: hidden;
	height: 360px;
	margin: 30px auto;
	border:1px solid #d6e5f2;
	border-radius: 5px; 
}
div.clear{
	clear: both;
}
div#produto-visitado{
	width: 195px;
	float: left;
	padding: 0 15px;
}

div#lista-produto-visitado{
	
}

div.imagem-center{
	text-align: center;
	width: 100%;
}

div.imagem-center img{
	/*border:3px solid #bdd0e0 !important;*/
}

ul#lista-produtos-recomendados{
	height: 360px;
	margin: 0;
	padding: 0;
}

ul#lista-produtos-recomendados li{
	display: inline-block;
	width: 195px;
	float: left;
	height: 360px;
	padding: 15px;
}

ul#lista-produtos-recomendados li > div.imagem-center img{
	border:3px solid #bdd0e0 !important;
}

ul#lista-produtos-recomendados li:hover{
	background-color: #d7eaf9;
}

div.chamada-produtos{
	background: #eff7fe; /* browsers antigos */
	background: -moz-linear-gradient(top, #eff7fe 0%, #e5f1fb 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #eff7fe 0%,#e5f1fb 99%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #eff7fe 0%,#e5f1fb 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff7fe', endColorstr='#e5f1fb',GradientType=0 ); /* IE6-9 */
	padding: 1px 15px;
}